.header{
  display:flex;
  grid-area: 1 / 1 / 2/ 3;
  width:100%;
  height:100%;
  padding:1vw;
  align-items:center;
  justify-content: flex-start;
  background-color:#EAEAEA;
}
.header img{
  padding:1vw;
  height:3em;
}