/* 

Use this file for styles that:
- Apply to your whole page
- Determine the overall layout

Styles that apply only to Todo Items, or only to your form, should go 
in a separate CSS file for each component.

*/

body {
  margin: 0;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: 70px auto;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}